.aboutParallax {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
}

.aboutParallax > img {
  position: absolute;
  margin-left: -10%;
  min-height: 100%;
  min-width: 2000px;
}

.aboutContentWrapper {
  height: 100vh;
  width: 45vw;
  position: absolute;
  right: 0px;
  z-index: 10;
  background-color: var(--green);
}

.aboutContentWrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--green);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-4deg);
  -ms-transform: skew(-4deg);
  transform: skew(-4deg);
  z-index: -1;
}

.aboutContent {
  padding: 12%;
}

.aboutCard {
  position: relative;
  width: 110%;
  margin-left: -10%;
  margin-top: 8%;
  padding: 2%;
  border-radius: 5px;
  transition: all 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.aboutCard > p,
.aboutCard > h3 {
  margin-left: 20%;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
  text-align: left;
  transition: all 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.aboutCard > img {
  position: absolute;
  width: 4vw;
  height: auto;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 2%;

  transition: all 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#inverseCard {
  margin-left: -8%;
}

#inverseCard > p,
#inverseCard > h3 {
  margin-right: 20%;
  margin-left: 0% !important;
  text-align: right !important;
}

#inverseCard > img {
  right: 0;
  left: 85%;
}

.aboutCard:hover > p,
.aboutCard:hover > h3 {
  transform: scale(1.03);
}

.aboutCard:hover > img {
  transform: scale(0.9);
}

.aboutCard:hover {
  margin-left: -9%;
  margin-top: 9%;
  background: rgba(255, 255, 255, 0.1);
}

#smallerIcon {
  width: 3vw;
  height: auto;
}
