.feedbackPage {
  position: relative;
  height: 220vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--cloud);
}

.feedbackHeader {
  margin: auto;
  padding: 1%;
  width: 40vw;
}
.feedbackHeader > h2 {
  padding: 8%;
}

.reviewCards {
  display: flex;
}

.reviewCard {
  width: 17vw;
  height: 35vw;
  margin: 3%;
  margin-right: 4%;
  margin-left: 4%;
  border-radius: 5px;
  background-color: rgba(211, 212, 197, 0.5);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.03);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.reviewCard:hover {
  transform: scale(1.01);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.08);
}

.reviewCard:first-child {
  margin-left: 16vw;
}

.reviewCard > img {
  width: 60%;
  height: auto;
  margin-top: 12%;
  border-radius: 100%;
}

.reviewQuote {
  padding: 5%;
  padding-right: 10%;
  padding-left: 10%;
  font-style: italic;
}

.starRating {
  background-color: rgba(240, 240, 240, 0.7);
  width: 40%;
  margin: auto;
  padding: 3%;
  padding-top: 4%;
  border-radius: 30px;
}

.starFilled,
.starEmpty {
  width: 1.1vw;
}

.evaluation {
  margin-top: 6%;
}

.futureCard {
  width: 50vw;
  margin-left: 45vh;
  max-width: 1200px;
  height: 49vh;

  position: relative;
  z-index: 10;
  overflow: scroll;

  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.03);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.futureCard:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 54vw;
  height: 100%;
  background: var(--lavender);
  -webkit-transform-origin: 100% 100% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 100% 100% 0;
  -webkit-transform: skew(-4deg);
  -ms-transform: skew(-4deg);
  transform: skew(-4deg);
  z-index: -1;

  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.03);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.evaluation:hover > img,
.evaluation:hover > .futureCard {
  transform: scale(1.01);
  /* box-shadow: 0 0px 30px rgba(0, 0, 0, 0.08); */
}

.evaluation > img {
  float: left;
  height: 49vh;
  width: auto;
  left: 0;
  z-index: -2;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.evaluationText {
  width: 45vw;
  margin: auto;
  padding: 6%;
  padding-left: 2%;
  text-align: left;
}

.evaluationText > h3 {
  padding-bottom: 5%;
  font-size: 2.5vw;
}

#inversedEvaluation > .futureCard {
  margin: auto;
  margin-right: -3vh;
}

#inversedEvaluation > .futureCard:after {
  -webkit-transform: skew(4deg);
  -ms-transform: skew(4deg);
  transform: skew(4deg);
  background-color: var(--green);
}

#inversedEvaluation > img {
  float: right;
  margin-right: -1.3vw;
}
