.profilesCard {
  /* display: flex; */
  /* padding-top: 5%; */
  float:left;
  width: 40vw;
  height: 95vh;
  margin-top: -10%;
}

.profilesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
