.navbar {
  position: fixed;
  height: 5vh;
  left: 0;
  top: 0;
  background-color: rgba(202, 203, 213, 0.8);
  border-radius: 0px;
  width: 40vw;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: top 0.3s;
  transition: top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}

.navbar:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.navbar:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 54vw;
  height: 5vh;
  margin-top: -0.2vh;
  margin-right: -0.1vh;
  background: var(--lavender);
  -webkit-transform-origin: 100% 100% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 100% 100% 0;
  -webkit-transform: skew(-6deg);
  -ms-transform: skew(-6deg);
  transform: skew(-6deg);
  z-index: -1;
}

.navbar > a {
  margin-top: 1vh;
  float: left;
  margin-left: 2vw;
  font-family: 'Abril Fatface';
  font-size: 1.3vw;
  font-style: italic;
  color: var(--granite);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar > a:hover {
  text-decoration: none;
  transform: scale(1.03);
  opacity: 0.7;
}

.navbar > a:first-child {
  margin-left: 5vw;
}

.hideNavbar {
  top: -5vh;
}
